{
  "parser": "babel-eslint",
  "extends": ["airbnb", "react-app", "react-app/jest", "prettier", "prettier/react"],
  "plugins": ["prettier", "import", "react", "react-hooks", "jsx-a11y"],
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": 2,
    "no-console": 0
  }
}
